mixin item
    div(class='choose-theme-menu__input')
        block

form(class=`${className} choose-theme-menu`)
    div(class="header menu-header") Тема
    each theme in themes
        +item
            input(type="radio" id=`${theme.name}` name='params' value=`${theme.name}`)
            label(for=`${theme.name}`)= `${theme.text}`