mixin item
    div(class='choose-size-menu__item')
        block

form(class=`${className} choose-size-menu`)
    h4 Сложность
    each preset in presets
        +item
            input(type="radio" id=`${preset.name}` name='params' value=`${preset.width}:${preset.height}:${preset.bombs}`)
            label(for=`${preset.name}`)= `${preset.text}`
    +item
        input(type="radio" id='custom' name='params' value='custom')
        label( for='custom') Свое
        div(class='choose-size-menu__custom')
            input(class="choose-size-menu__custom-input" type="text" name='custom-width' placeholder='ширина')
            input(class="choose-size-menu__custom-input" type="text" name='custom-height' placeholder='длина')
            input(class="choose-size-menu__custom-input" type="text" name='custom-bombs' placeholder='бомбы')
    button(type='submit' class='choose-size-menu__submit-btn') Готово